@charset "ISO-8859-1";
html {
  height: 100%;
}
body{
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin: 0;
  min-height: 100%;  
}

.footer{
	width: 100%;
	bottom:0;
}

.first-footer {
	width: 100%;
	background-color: black;
	overflow: auto;
}

.name-link ul li {
	display: inline-block;
	line-height: 50px;
	margin: 0 40px;
}
.name-link {
	width: 50%;
	float: left;
	color: #daa520;
	text-align: center;
	border-bottom: solid;
	border-color: #daa520;
	border-width: 3px;
}

.nav-link a{
	color: #daa520;
}

.nav-link a:hover {
	border-bottom: 1px solid #daa520;
}
.name-contact ul li {
	display: inline-block;
 	line-height: 50px;
 	margin: 0 20px;
}
.name-contact {
	width: 50%;
	float: left;
	color: #daa520;
	text-align: center;
	border-bottom: solid;
	border-color: #daa520;
	border-width: 3px;
}

.second-footer{
	width: 100%;
	background-color: black;
	overflow: auto;
}

.legal-footer{
	width:80%;
	float: left;
	text-align: left;
	font-size: 15px;
	padding-left: 2px;
}

.legal-footer a {
	color: #daa520;
}

.nav-legal a:hover {
	border-bottom: 1px solid #daa520;
}

.legal-footer ul li {
	display: inline-block;
 	line-height: 40px;
 	margin: 0 20px;
}

.copyright{
	width:20%;
	float: left;
	text-align: right;
	font-size: 15px;
	padding-right: 5px;
	color: #daa520;
	line-height: 40px;
}

.main-footer{
	width: 100%;
    height:0.1%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}


@media (max-width:1024px){
	.main-footer{
		position:absolute;
	}
}
