@charset "ISO-8859-1";

.section-single{
	text-align: center;
}
body{
	padding-top:80px;
	background-image: url("../img/Sfondo-Homepage.png");
	background-size: cover;
}

img {
	/* width: 100%;
	height: 340px; */
}
	
.content-single{
	max-width: 47%;
	height:100%;
	display: flex;
	text-align: center;;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 0 0px 100px 0 rgb(0 0 0);
	border-radius: 40px;
}

.image-single{
	width:400px;
	height: auto;
	text-align: center;
	padding-top:15px;
}

.paragraph-content{
	width:60%;
	text-align: center;
}


.name-single{
	font-family: "Avenir Next", sans-serif;
	padding: 20px;
	border-bottom-style: double;
	border-color: #daa520;
	border-width: 12px;
	font-size: 24px;
}

.description-single {
	padding: 20px;
	font-family: cursive;
	font-size:23px;
	font-weight: 300;
}

.price-and-cart {
	width: 100%;
}

.price-single{
	width: 50%;
	font-family: cursive;
	font-size:32px;
	font-weight: 200;
	color: #daa520;
	float: left;
}

.cart-single{
	width: 50%;
	font-size:30px;
	float: left;

}
.quantity-single{
	
}





